.gbox{
	text-align: left;
	max-width: 277px;
	float: left;
	margin-right: 10px;
	font-family: UbuntuR;
	font-size: 14px;
	border-color: #C6C6C6;
}

	.gbox .pic{
		max-width: 277px;
	}

	.gbox h1{
		font-size: 22px;
	}

	.gbox .lblblock1{
		max-height: 65px;
		max-width: 277px;
		text-align: center;
	}
		
	.gbox .lblblock1 p{
			text-align: left;
	}

		.gbox .lblblock1 .titblue {
			color: #1c7ae3;

		}

		.gbox .lblblock1 .titlbl{
			float: left;
			border-right: 1px solid;
			border-top: 2px solid;
			border-left: 2px solid;
			width: 91px;
			border-color: #C6C6C6;
			padding: 0;
			margin: 0;
		}
		.gbox .lblblock1 .titlbllast{
			float: left;
			width: 91px;
			border-top: 2px solid;
			border-right: 2px solid;
			border-color: #C6C6C6;
			padding: 0;
			margin: 0;
		}

		.gbox .lblblock1 .val{
			font-family: UbuntuB;
			font-size: 15px;
			float: left;
			border-right: 1px solid;
			border-top: 1px solid;
			border-left: 1px solid;
			width: 91px;
			height: 39px;
			line-height: 35px;
			background: #1c7ae3;
			border-color: #C6C6C6;
			color: #fff;
		}

	.gbox .lblblock2{
		margin-top: 5px;
		font-family: UbuntuR;
		font-size: 16px;
		height: 37px;
		max-width: 273px;
		background: #1c7ae3;
		color: #fff;
		padding-top: 2px;
		padding-left: 15px;
		line-height: 30px;
		
	}

.ddmm{
	color: #000;
	cursor: pointer;
	text-align: center;

}
.clear{
	clear: both;
}
.hidn{
	display: none;
}

.arrow{
	
	display: table-cell;
	vertical-align: middle;
	height:250px;
	width: 45px;
	margin-top: 266px;
	background: url("../img/arrow2.png");
	background-position: bottom;
	background-repeat: no-repeat;
	cursor: pointer;
	
}

/*.arrow:hover{
	margin-top: 66px;
	background: url("../img/strelka119-250.png");
	background-repeat: no-repeat;
	background-position: bottom;
	
}
*/
.panel-index{
	margin-bottom: 0;
}

.titbread{
	font-family: UbuntuR;
	font-size: 29px;
	color: #662D91;
	
}
.titbread a{
	font-size: 13px;
	color: #999999;
	
}

.lincdiffwrap{
	text-align: right;
	margin-right: 5px;
}



.difftblwrap{
	max-width: 100%;
	overflow: auto;	
}

.difftbl{
	margin-top: 10px;
	font-family: UbuntuM;
	font-size: 16px;
}


.diffpic{
	max-width: 180px;
}

.difftr{
	border-top: 1px solid;	
}

.difftr:first-child{
	border-top: none;	
	padding-top: 0px;
}

.difftd{
	max-width: 220px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;

}
.difftd:first-child{
	border-left: none;
}



.difftitle{
	font-size: 22px;
	font-family: UbuntuM;
}

.diffbtnorder{
	
}

.viewpic{
	max-width: 740px;
}


.viewtbl1{
	font-size: 14px;
	font-family: UbuntuR;
}

.viewtr1{
	
}

	.viewtd1{
		vertical-align: top;		
		padding-top: 10px;
		padding-left: 20px;
	}	

		.viewtd1 img{
			width: 50px;
		}

	.viewpic2{
		max-width: 320px;
	}

	.viewbtn{
		/*float: right;*/
	}

.rcol{
	max-width: 283px;
}

#cst {
	display: inline-block;
}